<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        /* Navbar background color */
        .navbar-inverse {
            background-color: #0056b3; /* Dark blue */
            border-color: #004085; /* Navbar border color */
        }

        .navbar-inverse .navbar-brand,
        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff !important; /* White text */
        }

        .navbar-inverse .navbar-brand:hover,
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #ffdd57 !important; /* Yellow on hover */
        }

    </style>

</head>
<body>
<!-- Navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard" th:href="@{/dashboard}">Apartment-Management</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <a class="navbar-brand" href="/Resident" th:href="@{/Resident}">Resident</a>
            <a class="navbar-brand" href="/Apartment" th:href="@{/Apartment}">Apartment</a>
            <a class="navbar-brand" href="/Service" th:href="@{/Service}">Service</a>
            <a class="navbar-brand" href="/Contract" th:href="@{/Contract}">Contract</a>
            <a class="navbar-brand" href="/Staff" th:href="@{/Staff}">Staff</a>
            <a class="navbar-brand" href="/Payment" th:href="@{/Payment}">Payment</a>
            <a class="navbar-brand" href="/Payment" th:href="@{/posst}">Post</a>
            <a class="navbar-brand" href="/Payment" th:href="@{/client}">Client</a>
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container mt-5">
    <div style="height: 80px; display: flex; justify-content: space-between; align-items: center;">
        <h2>Post Management</h2>
        <a href="/addpost" th:href="@{/showPost}" class="btn btn-primary">Add Post</a>
    </div>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/Post/page/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">
                    title</a>
            </th>
            <th>
                <a th:href="@{'/Post/page/' + ${currentPage} + '?sortField=content&sortDir=' + ${reverseSortDir}}">
                    content</a>
            </th>
            <th>
                <a th:href="@{'/Post/page/' + ${currentPage} + '?sortField=imageUrl&sortDir=' + ${reverseSortDir}}">
                    imageUrl</a>
            </th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postt}">
            <td th:text="${post.title}"></td>
            <td th:utext="${post.content}"></td>
            <td>
<!--                <img th:src="${post.imageUrl}" alt="Image" width="100"/>-->
                <img th:src="@{'/upload/' + ${post.imageUrl}}" alt="Image" width="100"/>

            </td>
            <td>
                <a th:href="@{/UpdatePost/{id}(id=${post.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <!-- T?ng s? dòng -->
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>

            <!-- Các nút chuy?n trang -->
            <div class="col-sm-4">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                   th:href="@{'/Post/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
            </span>
            </div>

            <!-- Nút Next -->
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/Post/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <!-- Nút Last -->
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/Post/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>

